header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-color: white;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(ptrbackground.jpg);
	background-color: #00569f;
}

nav ul {
	font-size: 1.2em;
	list-style-type: none;
	padding-left: 0;
}
nav a:visited {
	color:#000033;
	font-weight: bold;
	text-decoration: none;
}
nav a:hover {
	color:#000033;
	font-weight: bold;
	text-decoration: none;
}

nav a:active {
	color:#000033;
	font-weight: bold;
	text-decoration: none;
}

nav a:link {
	color:#000033;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	margin-bottom: 0;
	padding: 10px;
	color: white;
	background-image: url(sunset.jpg);
	background-repeat: no-repeat;
	background-position: 100%;
	background-color: #000032;
}

h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
	padding: 5%;
	font-style: italic;
}

span.resort {
	color:#344873;
	font-weight: bold;
}

div#content ul {
	list-style-image: url(marker.gif);
	list-style-position: inside;
}

nav {
	float: left;
	overflow: hidden;
	background-color: #9dd4f0;
	margin-right: 5%;
	padding-right: 5%;
	padding-left: 2%;
	padding-bottom: 100%;
}

div#content img {
	padding-right: 4%;
	float: left;
}

#content {
	padding-left: 5%;
	overflow: hidden;
}

div#wrapper {
	overflow: hidden;
	min-width: 600px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	background-color: white;
	margin-bottom: 5%;
	max-height: 750px;
}